/* CSS used only for Alerts page */
.alerts-body {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('~/public/img/quad-walk.png');
    background-repeat: no-repeat;
}

.page-header,
.page-content {
    margin: 0px 30px;
}

/* Top page content */
.page-header,
.header-heading,
.page-description {
    filter: drop-shadow(6px 6px 50px black);
}

.page-header {
    margin-top: 60px;
}

.header-heading {
    font-size: 50px;
    margin: 40px 0px 40px;
    text-align: center;
}

.page-description {
    font-size: 18px;
    margin-top: 0px;
    line-height: 1.6em;
    text-align: center;
}

/* Create post button */
.btn-container {
    text-align: center;
}

.btn {
    margin: 35px 0 50px 0;
    border-radius: 50px;
}

.btn-primary.outline {
    color: #F6FF81;
    border: 2px solid #F6FF81;
    background-color: transparent;
}

.btn-primary.outline:hover {
    color: #161B21;
    background-color: #F6FF81;
}

/* Bottom page content (posts section) */
.posts-container {
    margin-top: 100px;
}

.posts-header {
    color: white;
    font-size: 43px;
    text-align: center;
    margin: 40px 0px;
}

.posts-description {
    text-align: center;
}

.posts-container p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Posts cards */
.post-cards-container {
    border: transparent;
    margin-bottom: 40px;
}

.post-cards-body {
    padding: 0px;
}

.post-card {
    background-color: #161B21;
    margin: 8px 0;
    border-color: #2F343A;
    border-width: 2px;
    border-radius: 10px;
}

.post-header {
    color: #677189;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 14px;
}

.post-text {
    padding-top: 10px;
}

.post-text.card-text {
    margin-left: 10px;
}

.post-title-container {
    display: inline-block;
}

.row {
    margin-left: 0px;
}

.post-title {
    color: white;
    font-size: 28px;
    font-weight: 400;
    padding-left: 0px;
    display: inline;
}

.post-tag {
    color: #294642;
    font-size: 15px;
    font-weight: 500;
    background-color: #b5ebe3;
    padding: 8px 18px;
    border-radius: 20px;
    margin-left: 15px;
    display: inline;
}

.post-location {
    color: #677189;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
    padding-left: 0px;
}

.post-upvote {
    font-size: 18px;
    font-weight: 300;
}

.upvote-btn {
    margin-right: 10px;
}

/* Pop-up post form */
.cancel-btn {
    margin: 10px 0 10px 10px;
}

.submit-btn {
    margin: 10px;
}

/* Responsive styling */
/* Medium devices */
@media screen and (min-width: 768px) {

    .page-header,
    .page-content {
        margin: 0px 100px;
    }

    .page-header {
        margin-top: 120px;
    }

    .header-heading,
    .page-description,
    .btn-container {
        text-align: left;
    }

    .page-description,
    .posts-container p {
        font-size: 20px;
    }
}

/* Large devices */
@media screen and (min-width: 992px) {

    .page-header,
    .page-content {
        margin: 0px 150px;
    }

    .page-header {
        margin-top: 120px;
    }

    .page-description,
    .posts-container p {
        font-size: 22px;
        line-height: 1.8em;
    }

    .posts-description {
        text-align: center;
    }
}