/* Main css page used for overall app */
body {
    font-family: 'Lexend', sans-serif;
    background-color: black;
}

h1 {
    color: white;
    font-weight: 600;
}

h2 {
    color: white;
    font-weight: 600;
}

p {
    color: white;
    font-size: 20px;
    font-weight: 200;
    line-height: 2em;
}

/* Buttons */
.learn-more-btn {
    width: 100%;
    margin: 30px 0px;
}

/* Pages (e.g., Alerts, Commute, Safety) */
.page-info-container {
    margin: 100px 40px;
    filter: drop-shadow(8px 8px 30px black);
}

.page-header {
    display: inline-block;
}

.page-header img,
.page-header h1 {
    display: inline;
}

.page-header img {
    float: left;
}

.page-name {
    color: #F6FF81;
    margin-left: 10px;
    font-size: 26px;
    font-weight: 500;
}

.page-descr-heading,
.cards-header,
.posts-header {
    color: white;
    font-size: 45px;
    font-weight: 600;
    margin: 20px 0px;
    text-align: center;
}

.page-descr-subheading {
    font-size: 30px;
    text-align: center;
}

.page-description,
.cards-description,
.posts-description {
    font-size: 18px;
    line-height: 1.8em;
    text-align: left;
}

.cards-container,
.posts-container {
    margin: 100px 40px;
}

.cards-stack {
    margin: 10px 0px;
}

/* Responsive styling */
/* Medium devices */
@media screen and (min-width: 768px) {
    .page-info-container {
        margin: 100px 60px;
    }

    .page-descr-subheading {
        font-size: 35px;
    }

    .page-description,
    .cards-description,
    .posts-description {
        font-size: 20px;
    }

    .cards-container,
    .posts-container {
        margin: 0px 60px;
    }

    .cards-description,
    .posts-description {
        text-align: center;
    }

    .learn-more-btn {
        width: 40%;
    }
}

/* Large devices */
@media screen and (min-width: 992px) {
    .page-info-container {
        margin: 100px 150px;
    }

    .page-descr-heading,
    .cards-header,
    .posts-header {
        font-size: 55px;
    }

    .page-descr-heading {
        text-align: left;
    }

    .page-descr-subheading {
        font-size: 40px;
    }

    .page-description,
    .cards-description,
    .posts-description {
        font-size: 22px;
    }

    .cards-container,
    .posts-container {
        margin: 200px 150px 100px;
    }

    .learn-more-btn {
        width: 50%;
        margin: 20px 0px;
    }
}

/* Extra large devices */
@media screen and (min-width: 1200px) {
    .page-info-container {
        margin: 100px 200px;
    }

    .page-descr-subheading {
        font-size: 45px;
    }

    .cards-container,
    .posts-container {
        margin: 200px 200px 100px;
    }

    .learn-more-btn {
        width: 45%;
    }
}