/* CSS used only for Commute page */
.commute-body {
   height: 100vh;
   width: 100vw;
   position: relative;
   background-size: cover;
   background-position: center top;
   background-image: url('~/public/img/buses.png');
   background-repeat: no-repeat;
}

/* Top page content */
/* .page-header, .commute-header-heading, #commute-page-description {
   filter: drop-shadow(6px 6px 30px black);
} */

/* U-Pass content section */
.upass-container {
   margin: 100px 40px;
   text-align: left;
}

.upass-img {
   width: 100%;
}

.upass-heading {
   color: white;
   font-size: 45px;
   font-weight: 600;
   margin: 20px 0px;
   text-align: center;
}

.upass-description {
   font-size: 18px;
   line-height: 1.8em;
   text-align: left;
}

/* Responsive styling */
/* Small devices */
/* @media screen and (min-width: 576px) {
   .upass-container {
      margin-top: 150px;
   }

   .commute-cards-header {
      font-size: 50px;
   }
} */

/* Medium devices */
@media screen and (min-width: 768px) {
   .upass-container {
      margin: 100px 60px;
   }

   .upass-card {
      display: flex;
      justify-content: center;
   }

   .upass-img {
      width: 70%;
   }

   .upass-description {
      font-size: 20px;
   }

   .upass-info {
      text-align: center;
   }
}

/* Large devices */
@media screen and (min-width: 992px) {
   .upass-container {
      margin: 200px 150px;
   }

   .upass-card {
      display: inline-flex;
      align-items: center;
      padding-right: 15px;
   }

   .upass-img {
      width: 100%;
   }

   .upass-info {
      padding-left: 15px;
      text-align: left;
   }

   .upass-heading {
      font-size: 45px;
      text-align: left;
   }
}

/* Extra large devices */
@media screen and (min-width: 1200px) {
   .upass-container {
      margin: 200px 200px;
   }
}