/* Footer */
.footer {
    padding: 1.5em 0 1.5em 0;
    background-color: #161B21;
}

.footer-items {
    text-align: center;
}

.footer span {
    font-weight: 300;
    color: #677189;
}

.footer img {
    height: 30px;
    width: 30px;
    margin-right: 1em;
}