/* CSS used only for home page */
.hero-image {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('~/public/img/suzzallo-monochrome.jpeg');
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.overlay h1,
.overlay p {
    max-width: 400px;
}

.overlay h1 {
    font-size: 3em;
    margin: 0px 0px 30px 0px;
}

.overlay p {
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.8em;
    color: white;
    margin: 0 0 3em 0;
}

.overlay .btn {
    margin: 0;
    border-radius: 50px;
}

.overlay .btn.outline {
    background: none;
    padding: 12px 22px;
}

.overlay .btn-primary.outline {
    border: 2px solid #F6FF81;
    color: #F6FF81;
}

.btn-primary.outline:hover {
    color: #161B21;
    background-color: #F6FF81;
}

/* Responsive styling */
@media screen and (min-width: 820px) {

    .overlay h1,
    .overlay p {
        max-width: 1000px;
    }

    .overlay h1 {
        font-size: 4em;
        margin: 0;
    }

    .overlay p {
        font-size: 1.3em;
        margin: 1em 0;
    }

    .overlay .btn {
        margin: 2em 0;
    }
}