/* CSS used only for navigation bar */
.color-nav {
   background-color: #161B21;
}

.navbar-brand img {
   height: 45px;
   width: 45px;
   margin-right: 0.7em;
}

.navbar-brand .logo-text {
   font-size: large;
}

.navbar-nav {
   margin-left: auto;
   padding-right: 4em;
}

.sign-in.btn.btn-primary,
.sign-out.btn.btn-secondary {
   margin: 10px 0px;
   width: 100px;
   border-radius: 50px;
}

.sign-in.btn.btn-primary {
   font-weight: 500;
   color: #161B21;
   background-color: #F6FF81;
   border: 2px solid #F6FF81;
}

.sign-in.btn.btn-primary:hover {
   color: #161B21;
   background-color: #DDE668;
   border-color: #DDE668;
}

/* Responsive styling */
/* Large devices */
@media screen and (min-width: 992px) {
   .navbar-brand {
      padding-left: 3em;
   }

   .sign-in.btn.btn-primary,
   .sign-out.btn.btn-secondary {
      margin: 0px 9px;
   }
}