/* CSS used only for Safety page */
.header-container,
.cards-container {
    margin: 100px;
}

.header-container h1 {
    font-size: 3em;
    font-weight: 700;
}

.header-container p {
    font-size: 20px;
    font-weight: 200;
}

.safety-gradient-text {
    background-image: linear-gradient(to right, #BCE8E1 25%, #F6FF81 75%);
    background-clip: text;
    color: transparent;
}

.page-header {
    display: inline-block;
    margin-bottom: 30px;
}

.page-header img {
    float: left;
}

.page-header h1 {
    margin-left: 10px;
}

.page-header img, .page-header h1 {
    display: inline;
}

iframe {
    display: block;
    margin: auto;
}

@media screen and (min-width: 820px) {

    .header-container,
    .cards-container {
        margin: 90px 160px;
    }

    iframe {
        margin-left: 30px;
    }
}